* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body > header {
    background-color: #353434;
    padding: 16px 0;
    color #f5f6fa;
}

h1 {
    color: #fff;
}

header .container {
    display: flex;
    justify-content: space-between;
}

header li {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    display: inline;
    margin-left: 16px;
}

header li a {
    text-decoration: none;
    color:#f8f8f8;
}

.container {
    width: 1366px;
    margin: 0 auto;
}

.articles {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.articles article img {
  /*  height: 180px; */
width: 100%;
}

.articles article {
    width: 30%;
}

section {
    padding: 16px 0;
}

section h2,
.articles article {
    margin-bottom: 16px;
}

.articles article h3 {
    margin-top: 8px;
    margin-bottom: 8px;
}

.articles article a {
    background-color: #070247;
    color: #fff;
    padding: 8px;
    display: inline-block;
    text-decoration: none;
    font-weight: bold;
    margin-top: 8px;
}

.articles article a:hover {
    text-decoration: underline;
}

.articles article p,
.articles article a {
    font-family: Arial, Helvetica, sans-serif;
}

.articles article h3 {
    font-size: 24px;
}

section h2 {
    font-size: 32px;
}

#sports .articles article a{
background-color: rgb(2, 56, 2);
}

#sports {
    background-color: rgb(0, 255, 64);
}

#entertrainment .articles article a {
background-color: aqua;
}

#entertainment {
    background-color: cornflowerblue;
}

#technology .articles article a {
background-color: rgb(1, 34, 221);
}

#technology {
    background-color: darkslateblue;
}

#economy .articles article a {
background-color: rgb(241, 11, 153);
}

#economy {
    background-color: firebrick;
}